body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin: 40px;
}

.navBar {
  display: flex;
  padding: 20px 50px;
  justify-content: flex-end;
}

.projects-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes {
  display: flex;
  border: solid 1px grey;
  width: 40%;
  height: 300px;
}

.no-style-link {
  text-decoration: none;
  color: black;
}

.text-boxes {
  margin: 20px;
}